* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
/*
    font-family: 'Kaushan Script', cursive;
    font-family: 'Satisfy', cursive;
*/
h1 {
    font-family: 'Kaushan Script', cursive; 
}
p{
    font-family: 'Satisfy', cursive;s
}
section {
    position: relative;
	width: 100vw;
	height: 100vh;
}
.space {
    height: 50px;
    width: 100%;
    background: #eee;
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}
.space h1 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0  20px #000;
}

/*------------| coffee |--------------*/
.coffee {
    background: url(coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.coffee-position{
    float: left;
    margin-left: 5rem;
    margin-top: 4rem;
    position: relative;
    width: 30rem;
}
.coffee h1 {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}
.coffee p {
    padding: 30px;
    text-align: center;
    color: #ffffff;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}
/*-------------| computer |---------------*/
.computer {
    background: url(computers.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.computer-position{
    float: right;
    margin-right: 5rem;
    margin-top: 4rem;
    position: relative;
    width: 30rem;
}
.computer h1 {
    font-size: 3rem;
    text-align: center;
    color: #000;
}
.computer p {
    padding: 30px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #000;
}
/*-------------|blogs|--------------*/
.blogs {
    background: url(blogs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-position{
    float: left;
    margin-left: 5rem;
    margin-top: 4rem;
    position: relative;
    width: 30rem;
}
.blogs h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
}
.blogs p {
    padding: 30px;
    text-align: center;
    color: #333;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}
/*------------medical------------*/
.medical {
    background: url(medical.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.medical-position{
    float: right;
    margin-right: 7rem;
    margin-top: 20rem;
    position: relative;
    width: 30rem;
}
.medical h1 {
    font-size: 3rem;
    text-align: center;
    color: #fff;
}
.medical p {
    padding: 30px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #fff;
}